# automatically set end of line in every file to be 
# carrige return new line (standard for windows)
* text=auto eol=crlf
# DO NOT REMOVE COMMENT BELOW IT IS USED AS A MARKER FOR HOOKS SCRIPT
# BEGIN ENCRYPTION RULES
Solutions/2023/Day09/** filter=git-crypt diff=git-crypt
Solutions/2023/Day08/** filter=git-crypt diff=git-crypt
Solutions/2023/Day07/** filter=git-crypt diff=git-crypt
Solutions/2023/Day06/** filter=git-crypt diff=git-crypt
Solutions/2023/Day04/** filter=git-crypt diff=git-crypt
Solutions/2023/Day03/** filter=git-crypt diff=git-crypt
Solutions/2023/Day02/** filter=git-crypt diff=git-crypt
*.key filter=git-crypt diff=git-crypt
