# automatically set end of line in every file to be 
# carrige return new line (standard for windows)
* text=auto eol=crlf
# encryption
*.key filter=git-crypt diff=git-crypt
# DO NOT REMOVE COMMENT BELOW IT IS USED AS A MARKER FOR HOOKS SCRIPT
# BEGIN ENCRYPTION RULES

